.header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: #e3e3e3;
}
.header > .current_page{
    color: black;
}

.header > a{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 20px;
    color: #676767;
    cursor: pointer;
    text-decoration: none;
}

.header > a:hover{
    color: black;
}