@import "Header.css";
@import "Standard.css";

.container{
    display: flex;
}

.filter_container{
    text-align: center;
    width: 15em;
    background-color: #e3e3e3;
    margin-top: 2em;
    border-radius: 10px;
    margin-left: 1em;
}

#dropdown{
    list-style-type: none;
    color: #494949;
    cursor: pointer;
}

.country_list_header{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.country{
    color: black;
    font-size: 25px;
    user-select: none;
}
.name_filter p{
    margin-top: 1em;
    color: black;
    font-size: 25px;
}

.name_filter input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    outline: none;
}

.name_filter button{
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}


.content_container {
    width: 100%;
    height: 100%;
}

.card, .last_card {
    width: 80%;
    height: 100%;
    max-height: 300px;
    text-align: center;
    background: #e3e3e3;
    border-radius: 10px;
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 22em;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 1;
}

.card__content {
    position: relative;
    width: 90%;
    height: 95%;
    background: #f3f3f3;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    transition: 0.3s all ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: #1f75c4;
    cursor: pointer;
}

.card__content:hover {
    margin-top: -10px;
    border: 2px solid #1f75c4;
}


.card__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
}

.button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.1s all ease-in-out;
    margin-top: 1em;
}
.button:hover{transform: scale(1.1)}

.image {
    max-width: 20vw;
    height: 10vh;
}

p {
    color: #919191;
}

.fa-plus {
    color: #939393;
    transition: 0.2s all ease-in-out;
}


.card__content:hover .fa-plus {
    transform: scale(1.3);
}

#popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.9);
    z-index: 5;
}

.form-container {
    display: flex;
    justify-content: center;
}

#form {
    text-align: center;
    display: inline-block;
    position: absolute;
    background: #f3f3f3;
    border-radius: 25px;
    padding: 1em;
    margin-top: 10em;
    width: 50em;
}

.exit-button {
    float: right;
    color: red;
    cursor: pointer;
    margin: 10px;
    transition: 0.1s all ease-in-out;
}


.exit-button:hover{
    transform: scale(1.1);
}

.form > input {
    border-radius: 25px;
    border: none;
    padding: 1em;
    width: 60%;
    text-align: center;
    margin: 10px;
    font-size: 15px;
}
#last_card{
    order: 1;
}