@import "Header.css";
@import "Standard.css";

.content_header{
    margin-left: 10em;
    display: flex;
    justify-content: flex-start;
}

.content_header_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

img {
    height: 15em;
    max-width: 15em;
}

.title{
    margin-bottom: 0;
    font-size: 50px;
}
.subtitle {
    margin-top: 0;
    color: #919191;
    font-size: 16px;
}

.buttons{
    margin-left: 2em;
    display: flex;
    align-items: center;
}

.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    margin-left: 15em;
    margin-right: 15em;
    border-spacing: 0;
    border-collapse: collapse;
}

tr{

    border-left: 8px solid transparent;
}
th{
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

.team_row:hover{
    cursor: pointer;
    background-color: #b4b4b4;
    border-left: 8px solid #1f75c4;
}

.row_image{
    width: 50px;
    height: 50px;
}

.button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.1s all ease-in-out;
    text-align: center;
    margin-right: 25em;
    margin-left: 25em;
    margin-top: 1em;
    font-size: 18px;
}

.button:hover{
    transform: scale(1.1);
}

.submit_button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.1s all ease-in-out;
    margin-top: 1em;
}

.form_popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.9);
    z-index: 1;
}

.form-container {
    display: flex;
    justify-content: center;
}

#form {
    text-align: center;
    display: inline-block;
    position: absolute;
    background: #f3f3f3;
    border-radius: 25px;
    padding: 1em;
    margin-top: 10em;
    width: 50em;
}

.exit-button {
    float: right;
    color: red;
    cursor: pointer;
    margin: 10px;
    transition: 0.1s all ease-in-out;

}

.exit-button:hover{
    transform: scale(1.1);
}

.form > input {
    border-radius: 25px;
    border: none;
    padding: 1em;
    width: 60%;
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

.fa-trash-can, .fa-pen-to-square{
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    margin-right: 5px;
}
.fa-trash-can:hover{
    color: red;
    transform: scale(1.1);
}
.fa-pen-to-square:hover{
    transform: scale(1.1);
}

.team_container{
    display: flex;
    justify-content: center;
}

.team_table_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 10em;
    padding: 1em;
    border-radius: 25px;
}

.team_table{
    border-spacing: 0;
    margin-left: 10em;
    margin-right: 10em;
    max-height: 50vh;
    overflow-y:scroll;
    display: block;
}

.table_header{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.add_player_button{
    color: #1f75c4;
    cursor: pointer;
    margin-left: 3px;
}

.add_player_button:hover{
    transform: scale(1.1);
}


.new_player_input{
    font-size: 16px;
    text-align: left;
    padding: 0;
    border: 0;
}

#last_row{
    background-color: white;
}



