@import "Header.css";
@import "Standard.css";
@import "teamsPage.css";

.team_table_container{
    margin-top: 3em;
    font-size: 20px;
}

table{
    width: 45em;
}

td{
    padding: 4px
}


.new_player_input{
    font-size: 20px; !important;
    width: 10em;
}

.cancel_button:hover{
    color: red;
    transform: scale(1.1);
    cursor: pointer;
}

h2 {
    margin-bottom: 2em;
}